@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&#39;');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap&#39;');

:root{
    --laranja-claro:#FF862A; /*Definir uma variável CSS para cor laranja*/
}

body{
    font-size: 1rem;/* tamanho de fonte base(geralemente 16px)*/
    font-family: 'Montserrat'; /*fonte principal do site*/
}
 /*Estilo do Cabeçalho*/

 header{
    background-color: #ffffff;/*Fundo branco para o cabeçalho*/
 }

 /*seções gerais*/
 section{
    padding-bottom: 5rem; /*espaçamento inferior grande para seção*/
 }

 /*links de navegação*/
 .nav-link{
    color: #cb6d43;/*cor marrom-laranjada para os link*/
    font-weight: 600; /* texto em negrito*/
 }
 .inicio-fundo{
   background-image: url('img/4965007.jpg');
   background-size: cover;
   background-position: right;
   border-radius: 80px;
   width: 100%;
   height: 606px;
   padding:40;
   margin:0 auto;

   }

   /*posicionamento para imagem à direita*/
   .img-inicio{
      position: absolute;
      right: 0;
      top: 18rem;
      width: 45rem;
      height; auto;

   }

.esquerda-conteudo{
      display: flex;
      flex-direction: column;
      alingn-items: flex-starts;
      gap: 1rem;
   }

.botao-inicio{
         background-color: var(--laranja-claro);
         border-radius: 30px;
         border: none;
         width: 14em;
         height: 3em;
         align-content:center;
      }
.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}

#tropicalia{
   position:relative;
   padding-top: 5rem;
   margin-top: 3rem;
   margin-top: 3rem;
   background: url('img/flor.png') top right no-repeat,
            url('img/flor-esquerda.png') bottom left no-repeat;
   background-size: 180px 180px;
}

.tropicalia.container {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 1;
}

h2 {
   font-family: 'lemon', serif;
   font-size: 2.5em;
   font-style: normal;
   color:var(--laranja-claro);
}

#galeria {
      background-color: #FAFAFA;
}

.fundo-galeria {
   background: url('img/flor-bottom-direita.png') battom right no-repeat;
   background-size: 180px 180px;
}

#contato{
   background-image: url(img/4965007.jpg);
   background-size: cover;
   padding: 4rem 0;
   /*espaçamento interno para a seçao de contato*/

}

.formulario {
   background-color: #ffffff;
   padding: 2rem;
   /*espaçamento interno dentro do formulario*/
   border-radius: 10px;
   /*borda arrendonda para o formulario*/
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   /*sombra suave para destacar o formulario*/
   font-weight: bold;

}

.formulario button{
   background-color: #cb6d43;
   border: none;
   font-weight: bold0;
} /*chama a classe do bopotstrap para modificar a cor*/
.form-control{
   background-color: #f1EDEF;
}


 